<!--
    Name: Bài 2 - Assignment giai đoạn 2
    Author: Hồ Hoàng Phú - PS17588
    Other: Html css + js kết hợp với AngularJS
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title>Bài 2 - ASM Giai đoạn 2 - Hồ Hoàng Phú</title>
        <link rel="stylesheet" href="css/main.css" type="text/css" >
    </head>

    <body ng-app="ASM2_B2">
        <div class="container" ng-controller="kodoku">
            <form action="" onsubmit="event.preventDefault()" name="frm" style="{{styleRes}}">
                <div class="header">
                    <p id="head">ĐĂNG KÝ THÀNH VIÊN</p>
                </div>
                <div class="content">
                    <div class="blockId">
                        <p class="label">Mã sinh viên</p>
                        <input ng-keyup="erMsv = ''" ng-init="erMsv = 'display: none'" type="text" name="msv" id="inputIdSV" required ng-model="msv">
                        <div id="er" style="{{erMsv}}">
                            <span class="errorLog" ng-if="frm.msv.$invalid" >Nhập mã sinh viên của bạn vào nhé!</span>
                        </div>
                    </div>
                    <div class="blockName">
                        <p class="label">Họ và tên</p>
                        <input ng-keyup="erHoTen = ''" ng-init="erHoTen = 'display: none'" type="text" name="hoten" ng-model="hoten" id="inputNameSV" required>
                        <div id="er" style="{{erHoTen}}">
                            <span class="errorLog" ng-if="frm.hoten.$invalid" >Nhập họ và tên của bạn vào nhé!</span>
                        </div>
                    </div>
                    <div class="blockEmail">
                        <p class="label">Email</p>
                        <input ng-keyup="erEmail = ''" ng-init="erEmail = 'display: none'" type="email" name="email" ng-model="email" id="inputEmail" required >
                        <div id="er" style="{{erEmail}}">
                            <span class="errorLog" ng-if="frm.email.$invalid" >Nhập Email của bạn vào nhé!</span>
                        </div>
                    </div>
                    <div class="blockGender">
                        <p class="label">Giới tính</p>
                        <div class="inputGender">
                            <input type="radio" name="gender" ng-model="gender" id="male" value="Nam" >
                            <label for="male">Nam</label> 
                            <input type="radio" name="gender" ng-model="gender" id="female" value="Nữ" >
                            <label for="female">Nữ</label>
                        </div>
                        <div id="er" style="{{erStyle}}">
                            <span class="errorLog" ng-if="!gender" >Chọn giới tính đi bạn!</span>
                        </div>
                    </div>
                    <div class="blockFavor">
                        <p class="label">Sở thích</p>
                        <div class="inputFavor">
                            <input ng-click="erFavor = ''" ng-init="erFavor = 'display: none'" type="checkbox" name="favor" ng-model="read"><label for="read">Đọc sách</label> 
                            <input ng-click="erFavor = ''" ng-init="erFavor = 'display: none'" type="checkbox" name="favor" ng-model="travel"><label for="travel">Du lịch</label>
                            <input ng-click="erFavor = ''" ng-init="erFavor = 'display: none'" type="checkbox" name="favor" ng-model="music"><label for="music">Âm nhạc</label> 
                            <input ng-click="erFavor = ''" ng-init="erFavor = 'display: none'" type="checkbox" name="favor" ng-model="cook"><label for="cook">Ẩm thực</label>
                            <input ng-click="erFavor = ''" ng-init="erFavor = 'display: none'" type="checkbox" name="favor" ng-model="other"><label for="other">Khác</label>
                        </div>
                        <div id="er" style="{{erFavor}}">
                            <span class="errorLog" ng-if="!read && !travel && !music && !cook && !other" >Chọn ít nhất một sở thích nha bạn!</span>
                        </div>
                    </div>
                    <div class="blockNationality">
                        <p class="label">Quốc tịch</p>
                        <div class="inputNationality">
                            <input ng-click="erCountry = ''" ng-init="erCountry = 'display: none'" list="nationalities" name="nationality" id="nationality" placeholder="Chọn quốc gia" ng-model="country">
                            <datalist id="nationalities">
                                <option value="Việt Nam"></option>
                                <option value="Anh"></option>
                                <option value="Đức"></option>
                                <option value="Pháp"></option>
                                <option value="Ý"></option>
                            </datalist>
                        </div>
                        <div id="er" style="{{erCountry}}">
                            <span class="errorLog" ng-if="!country" >Bạn ở nước nào? Chọn đi!</span>
                        </div>
                    </div>
                    <div class="blockNote">
                        <p class="label">Ghi chú</p>
                        <textarea ng-keyup="erNote = ''" ng-init="erNote = 'display: none;'" name="note" id="note" ng-model="note" cols="30" rows="3"></textarea>
                        <div id="er" style="{{erNote}}">
                            <span class="errorLog" ng-if="note.length > 200">Ghi chú ít thôi thím, từ dưới 200 kí tự được rồi!</span>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="successLog" ng-if="!frm.msv.$invalid && !frm.hoten.$invalid && !frm.email.$invalid && gender && (read || travel || music || cook || other) && country && (note == undefind || note.length <= 200)" >Được rồi đó, bấm vào "Đăng ký ngay" đi bro</span>
                        <input type="submit" value="Đăng ký ngay" id="btn" ng-click="checkValidate()">
                    </div>
                </div>
            </form>
            <div class="info" style="{{styleInfo}}">
                <div class="header">
                    <p id="head">THÔNG TIN THÀNH VIÊN</p>
                </div>
                <div class="contentInfo">
                    <span class="itemInfo">Họ và Tên </span><span class="i-item">{{hotenInfo}}</span><br><br>
                    <span class="itemInfo">Mã SV&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="i-item">{{msvInfo}}</span><br><br>
                    <span class="itemInfo">Email&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="i-item">{{mailInfo}}</span><br><br>
                    <span class="itemInfo">Giới tính </span><span class="i-item">{{genderInfo}}</span><br><br>
                    <span class="itemInfo">Sở thích&nbsp; </span><span class="i-item">{{favorInfo}}</span><br><br>
                    <span class="itemInfo">Quốc tịch </span><span class="i-item">{{counInfo}}</span><br><br>
                    <span class="itemInfo">Ghi chú&nbsp;&nbsp; </span><span class="i-item">{{noteInfo}}</span><br><br>
                </div>
            </div>
        </div>

        <script src="js/main.js" type="text/javascript"></script>
    </body>
</html>
